@import '../../../base.less';

.setting {
  @media screen and (max-width: 767px) {
    padding: 0;
  }
  .pageTitle {
    color: #2c3236;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -1.28px;
    margin-bottom: 16px;
    font-family: 'Noto Sans';
  }
  .formTab {
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
    &Button {
      cursor: pointer;
      height: 44px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
      font-size: 14px;
      font-weight: 500;
      line-height: 1;
      letter-spacing: -0.8px;
      color: #626e79;
      min-width: 164px;
      border: 1px solid #e7ecf3;
      transition: color 0.3s, background-color 0.3s, border 0.3s;
      background-color: white;
      @media only screen and (max-width: 767px) {
        flex: 1;
        min-width: 0;
      }
      &.active,
      &:hover {
        color: white;
        background-color: #0f63aa;
        border: 1px solid #0f63aa;
      }
    }
  }
  .mainSetting {
    display: flex;
    flex-direction: column;
    padding: 16px;
    height: calc(100dvh - 360px);
    overflow: auto;
    border: 1px solid #d6dee6;
    background-color: white;

    @media screen and (max-width: 767px) {
      display: block;
      padding: 16px;
      margin-bottom: 0;
      height: calc(100dvh - 345px);
      column-gap: unset;
    }
  }

  .partTitle {
    font-weight: 600;
    font-size: 14px;
    line-height: 1;
    font-weight: 500;
    color: #2c3236;
    letter-spacing: 0;
    &Wrap {
      display: flex;
      gap: 16px;
      margin-bottom: 16px;
    }
  }
  .partTitle2 {
    margin-top: 24px;
    margin-bottom: 16px;
    @media screen and (max-width: 767px) {
      margin-top: 40px;
      margin-bottom: 24px;
    }
  }

  .partSub {
    color: var(--black, #2c3236);
    font-family: 'Noto Sans';
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
  }
  .btnUpdate {
    width: 160px;
    background-color: white;
    margin-inline: auto;
    margin-top: 20px;
    border-radius: 32px;
    border: 1px solid #0f63aa;
    color: #0f63aa;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -0.8px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .partName {
    display: flex;
    align-items: center;
    margin-bottom: 50px;

    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }

  .partNameTitle {
    font-size: 30px;
    color: @black-4;
    font-weight: 600;

    @media screen and (max-width: 767px) {
      font-size: 18px;
    }
  }

  .partNameBorder {
    display: inline-block;
    width: 9px;
    height: 30px;
    background: dodgerblue;
    margin-right: 10px;
  }

  .settingBtnGroup {
    margin-bottom: 50px;
    margin-top: 25px;

    button {
      border-radius: 20px;
      margin-left: 0;
      font-size: 20px;
      height: 49px;
    }

    .cancelBtn {
      color: #ffffff;
      background-color: #b6b6b6;

      &:hover {
        color: #ffffff;
        background-color: #b6b6b6;
        opacity: 0.8;
      }
    }
  }

  .settingIcon {
    font-size: 22px;
    font-weight: 900;
    font-family: 'Noto Sans';
    margin: 0 16px;

    @media screen and (max-width: 767px) {
      margin: 0 5px;
      font-size: 23px;
    }
  }

  .labelCheckbox {
    font-size: 14px;
    font-weight: 500;
    color: #2c3236;
    display: flex;
    align-items: center;
    margin-left: 36px;
    @media only screen and (max-width: 767px) {
      font-size: 18px;
      margin-left: 31px;
    }
  }
}

.checkboxSelect {
  display: flex;
  margin-left: 5px;
  align-items: center;
  min-width: 50%;
  flex: 1;

  @media screen and (max-width: 767px) {
    margin-left: 0;
    width: unset;
  }
}

.selectTime {
  width: 100%;
  max-width: 170px;
  height: 50px;
  border: 2px solid #d4d4d4;
  border-radius: 15px;
  padding: 0 28px;
  font-size: 20px;
}

.checkboxCustom {
  display: flex;
  align-items: center;
  position: relative;
  margin-right: 80px;
  @media screen and (max-width: 767px) {
    margin-bottom: 12px;
  }

  .checkboxContent {
    display: flex;
    width: 100%;
  }
}

.checkboxItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  flex-wrap: wrap;
  width: 100%;
  @media screen and (max-width: 767px) {
    margin-bottom: 24px;
  }
  .errorTime {
    color: @red-required;
    display: block;
    width: 100%;
    margin-left: 20px;
  }
}

.timeBlock {
  position: relative;
  width: 100%;
  @media screen and (max-width: 767px) {
    width: unset;
  }
}

.setting {
  :global {
    .ant-checkbox-wrapper-checked {
      * {
        color: #0f63aa !important;
      }
      & + div *:not(path) {
        color: #0f63aa !important;
      }
      & + div path {
        color: rgba(0, 0, 0, 0.25) !important;
      }
    }
    .ant-select-selector {
      padding: 13px 8px !important;
      border-radius: 8px;
      border: 1px solid var(--gray-06, #bfc7d0);
      background: #fff;
      min-width: 200px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .ant-checkbox-input,
    .ant-checkbox-inner {
      display: none;
    }

    .ant-picker .ant-picker-input .ant-picker-suffix {
      display: unset;
    }

    .ant-checkbox-checked::after {
      display: none;
    }

    .ant-checkbox {
      &::before {
        content: '';
        width: 32px;
        height: 32px;
        position: absolute;
        left: 0;
        top: -19px;
        border-radius: 4px;
        border: 0.5px solid var(--gray-06, #bfc7d0);
        background: #fff;
      }

      &.ant-checkbox-checked {
        &::before {
          background: url('../../../assets/images/icon-checked.svg') center
            no-repeat;
          background-size: 70% 70%;
        }
      }
    }

    .ant-checkbox-group {
      width: 100%;
    }

    .ant-select {
      max-width: fit-content;
      height: auto;
      border-radius: 15px;
      font-size: 20px;
      display: flex;
    }
    .ant-select-selection-item {
      font-size: 14px;
      line-height: 1 !important;
      font-weight: 500;
      justify-content: center;
    }
    .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
      border: 0;
      height: auto;
      padding: 0px 28px;
      background: transparent;
      box-shadow: none;
    }

    .ant-select-focused:not(.ant-select-disabled).ant-select-single:not(.ant-select-customize-input)
      .ant-select-selector {
      border-color: transparent;
      box-shadow: none;
    }

    .ant-select-single.ant-select-sm:not(.ant-select-customize-input).ant-select-show-arrow
      .ant-select-selection-item,
    .ant-select-single.ant-select-sm:not(.ant-select-customize-input).ant-select-show-arrow
      .ant-select-selection-placeholder {
      display: flex;
      align-items: center;
    }

    .ant-picker {
      padding: 12px 8px 12px 8px;
      border: 1px solid #bfc7d0;
      border-radius: 8px;
      font-size: 16px;
      font-weight: 500;
      display: flex;
      align-items: center;
      color: #2c3236;
      @media screen and (max-width: 767px) {
        max-width: 100%;
        flex: 1;
        padding: 0 8px;
        height: 44px;
      }
    }

    .ant-picker-input > input {
      font-size: 14px;
      height: auto;
      border-radius: 8px;
    }

    .btn.btnWhite {
      &:hover {
        border: 2px solid @grey-7;
      }
    }

    .ant-select-selector .ant-select-selection-item {
      padding-right: 10px !important;
    }
  }
}

.timePicker {
  @media screen and (max-width: 767px) {
    :global {
      .ant-picker-time-panel-column {
        float: left;
        height: 110%;
        overflow-y: auto;

        &::-webkit-scrollbar-track {
          background-color: #f1f1f1;
        }

        &::-webkit-scrollbar {
          width: 12px;
          background-color: #f1f1f1;
        }

        &::-webkit-scrollbar-thumb {
          background-color: #a8a8a8;
        }
      }
    }
  }

  :global {
    .ant-picker-panel .ant-picker-footer {
      display: none;
    }

    .ant-picker-dropdown .ant-picker-panel > .ant-picker-time-panel {
      padding-top: 0;
    }

    .ant-picker-time-panel-column {
      width: 80px;

      &:first-child {
        .ant-picker-time-panel-cell {
          position: relative;

          &::after {
            content: '時';
            position: absolute;
            top: 4px;
            left: 40px;
            width: 29px;
            height: 100%;
          }
        }
      }

      &:last-child {
        .ant-picker-time-panel-cell {
          position: relative;

          &::after {
            content: '分';
            position: absolute;
            top: 4px;
            left: 40px;
            width: 29px;
            height: 100%;
          }
        }
      }
    }
  }
}
