@import '../../../base.less';

.setting {
  margin: 0 0 60px;
  padding: 0px 0 40px;
  // background-color: @grey-2;
  @media screen and (max-width: 767px) {
    padding: 0;
  }
  @media screen and (max-width: 1023px) and (min-width: 768px) {
    padding: 60px 15px 80px;
  }
  .mainSetting {
    display: flex;
    column-gap: 120px;
    @media screen and (max-width: 767px) {
      display: block;
      column-gap: unset;
    }
  }
  .partTitle {
    font-weight: 510;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0;
    padding-bottom: 24px;
  }
  .partName {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }
  .partNameTitle {
    font-size: 30px;
    color: @black-4;
    font-weight: 600;
    @media screen and (max-width: 767px) {
      font-size: 18px;
    }
  }
  .partNameBorder {
    display: inline-block;
    width: 9px;
    height: 30px;
    background: dodgerblue;
    margin-right: 10px;
  }
  .settingBtnGroup {
    margin-bottom: 50px;
    margin-top: 25px;
    button {
      border-radius: 20px;
      margin-left: 0;
      font-size: 20px;
      height: 49px;
    }
    .cancelBtn {
      color: #ffffff;
      background-color: #b6b6b6;
      &:hover {
        color: #ffffff;
        background-color: #b6b6b6;
        opacity: 0.8;
      }
    }
  }
  .settingIcon {
    font-size: 8px;
    margin: 0 4px;
    @media screen and (max-width: 767px) {
      margin: 0 5px;
      font-size: 23px;
    }
  }
  .labelCheckbox {
    font-size: 16px;
  }
}
.labelCheckbox {
  margin-left: 26px;
  font-size: 25px;
  display: flex;
  align-items: center;
}
.checkboxSelect {
  display: flex;
  margin-left: 5px;
  align-items: center;
  min-width: 50%;
  width: 200px;
  @media screen and (max-width: 767px) {
    margin-left: 0;
    width: unset;
  }
}
.selectTime {
  width: 100%;
  max-width: 170px;
  height: 50px;
  border: 2px solid #d4d4d4;
  border-radius: 15px;
  padding: 0 28px;
  font-size: 20px;
}
.checkboxCustom {
  display: flex;
  align-items: center;
  position: relative;
  @media screen and (max-width: 767px) {
    margin-bottom: 0;
  }
  .checkboxContent {
    display: flex;
    width: 100%;
  }
}
.checkboxItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  flex-wrap: wrap;
  max-width: 615px;
  .errorTime {
    color: @red-required;
    display: block;
    width: 100%;
    margin-left: 20px;
  }
}

.timeBlock {
  position: relative;
  display: flex;
  justify-content: center;
  width: 300px;
  @media screen and (max-width: 767px) {
    width: unset;
  }
}

.setting {
  :global {
    .ant-checkbox-input,
    .ant-checkbox-inner {
      display: none;
    }
    .ant-picker .ant-picker-input .ant-picker-suffix {
      display: unset;
    }
    .ant-checkbox-checked::after {
      display: none;
    }
    .ant-checkbox {
      &::before {
        content: '';
        width: 22px;
        height: 22px;
        position: absolute;
        left: 0;
        top: -15px;
        border-radius: 4px;
        box-shadow: inset 1px 1px 3px 1px rgba(0, 0, 0, 0.26);
      }
      &.ant-checkbox-checked {
        &::before {
          background: url('../../../assets/images/icon-checked.svg') center
            no-repeat;
          background-size: 70% 70%;
        }
      }
    }
    .ant-checkbox-group {
      width: 100%;
    }
    .ant-select {
      max-width: fit-content;
      height: 30px;
      border-radius: 15px;
      font-size: 20px;
      display: flex;
    }
    .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
      border: 0;
      height: auto;
      padding: 0px 28px;
      background: transparent;
      box-shadow: none;
    }
    .ant-select-focused:not(.ant-select-disabled).ant-select-single:not(.ant-select-customize-input)
      .ant-select-selector {
      border-color: transparent;
      box-shadow: none;
    }
    .ant-select-single.ant-select-sm:not(.ant-select-customize-input).ant-select-show-arrow
      .ant-select-selection-item,
    .ant-select-single.ant-select-sm:not(.ant-select-customize-input).ant-select-show-arrow
      .ant-select-selection-placeholder {
      display: flex;
      align-items: center;
    }
    .ant-picker {
      height: 30px;
      border: 2px solid #d4d4d4;
      border-radius: 8px;
      font-size: 16px;
      display: flex;
      align-items: center;
      color: #333;
      padding: 0 10px 0 12px;
      @media screen and (max-width: 767px) {
        max-width: 95px;
        padding: 0 10px;
        height: 30px;
      }
    }
    .ant-picker-input > input {
      font-size: 16px;
    }
    .btn.btnWhite {
      &:hover {
        border: 2px solid @grey-7;
      }
    }
    .ant-select-selector .ant-select-selection-item {
      padding-right: 10px !important;
    }
  }
}
.timePicker {
  @media screen and (max-width: 767px) {
    :global {
      .ant-picker-time-panel-column {
        float: left;
        height: 110%;
        overflow-y: auto;
        &::-webkit-scrollbar-track {
          background-color: #f1f1f1;
        }
        &::-webkit-scrollbar {
          width: 12px;
          background-color: #f1f1f1;
        }
        &::-webkit-scrollbar-thumb {
          background-color: #a8a8a8;
        }
      }
    }
  }
  :global {
    .ant-picker-panel .ant-picker-footer {
      display: none;
    }
    .ant-picker-dropdown .ant-picker-panel > .ant-picker-time-panel {
      padding-top: 0;
    }
    .ant-picker-time-panel-column {
      width: 80px;
      &:first-child {
        .ant-picker-time-panel-cell {
          position: relative;
          &::after {
            content: '時';
            position: absolute;
            top: 4px;
            left: 40px;
            width: 29px;
            height: 100%;
          }
        }
      }
      &:last-child {
        .ant-picker-time-panel-cell {
          position: relative;
          &::after {
            content: '分';
            position: absolute;
            top: 4px;
            left: 40px;
            width: 29px;
            height: 100%;
          }
        }
      }
    }
  }
}
