@import '../../../base.less';
.header {
  box-shadow: 0 4px 4px 0 rgba(55, 77, 117, 0.16);
  background-color: white;
  .headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 16px;
    padding-inline: 80px;
    max-width: 1600px;
    margin: auto;

    .headerLeft {
      display: flex;
      align-items: center;
      position: relative;
      .icBarView {
        padding: 16px;
        cursor: pointer;
        color: #234ab6;
        padding-right: 0;
        // margin-right: 50px;
      }
      .logo {
        width: 200px;
        height: 43px;
        object-fit: contain;
        cursor: pointer;
      }
    }

    .headerRight {
      display: flex;
      align-items: center;
      position: relative;
      .avatarWrap {
        cursor: pointer;
        display: flex;
        align-items: center;
        column-gap: 4px;
        .avatar {
          width: 35px;
          height: 35px;
          border-radius: 50%;
          object-fit: cover;
        }
        span {
          font-size: 20px;
          font-weight: 500;
          color: #626e79;
          letter-spacing: -0.8px;
          margin-right: 16px;
        }
      }
      .icBar,
      .icClose {
        width: 64px;
        height: 64px;
        cursor: pointer;
      }
    }
    .menuView {
      width: 300px;
      position: absolute;
      z-index: 10000000;
      top: calc(100% + 7px);
      right: 16px;
      border: 1px solid var(--gray-07, #d6dee6);
      box-shadow: 4px 4px 4px 0 rgba(51, 104, 199, 0.16);
      background-color: #fff;
    }
    .menuItem,
    .logoutItem {
      display: flex;
      align-items: center;
      padding: 16px 24px;
      cursor: pointer;
      transition: 0.4s ease background-color;
      &:hover,
      &.active {
        background-color: #0f63aa;
        span {
          color: white;
        }
      }
      span {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2em;
        letter-spacing: -2px;
        color: #0f63aa;
        font-weight: bold;
        transition: color 0.4s ease;
      }
    }

    // .menuItem:hover {
    //   background-color: #f0f0f0;
    // }

    .lastItem,
    .logoutItem {
      border-bottom: none;
    }

    .logoutItem {
      background-color: #f2f8fb;
      border-radius: 20px;
      margin: 16px 24px;
      padding: 8px 4px;
      justify-content: center;
      span {
        color: #626e79 !important;
      }
      &:hover {
        span {
          color: white !important;
        }
      }

      // &:hover {
      //   background-color: #a09d9d;
      // }
    }
  }

  .logoutConfirm {
    border-radius: 20px !important;
  }
}
@media only screen and (max-width: 768px) {
  .header {
    .headerContainer {
      padding-inline: 16px;
      padding-block: 8px;

      .menuView {
        width: 100vw;
        right: -16px;
      }
      .headerLeft {
        .logo {
          width: 120px;
          height: 26px;
        }
      }
      .headerRight {
        .icBar,
        .icClose {
          width: 44px !important;
          height: 44px !important;
        }
      }
      .menuItem {
        span {
          font-size: 16px !important;
          font-weight: 500;
        }
      }
      .logoutWrap {
        display: flex;
        padding: 16px 24px;
        gap: 16px;
        .logoutItem {
          margin: 0;
          flex: 1;
          max-width: calc(50% - 8px);
          span {
            font-size: 16px;
          }
        }
        .avatarWrap {
          flex: none;
          min-width: calc(50% - 8px);
          span {
            font-size: 16px !important;
          }
        }
      }
    }
  }
}
