.documentation {
  .documentation_top {
    position: sticky;
    top: 0;
    padding-block: 40px;
    width: 100%;
    z-index: 100;
    background-color: #fdfcf9;
    @media screen and (max-width: 767px) {
      padding-block: 32px;
    }
  }
  .documentation_top_title {
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 0;
    color: #2c3236;
    text-align: center;
    text-align: center;
    @media screen and (max-width: 767px) {
      font-size: 22px;
    }
  }
  width: 100%;
  max-width: 1360px;
  padding: 0 120px;
  height: 100%;
  position: relative;
  margin: auto;
  @media screen and (max-width: 767px) {
    padding: 0 16px;
  }
  .documentation_img {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    @media screen and (max-width: 767px) {
      row-gap: 24px;
    }
  }
  .documentation_img_item {
    width: 100%;
    img {
      width: 100%;
    }
  }
  .documentation_title {
    margin-bottom: 24px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    color: #0f63aa;
  }
  .documentation_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    .documentation_btn_item {
      width: 100%;
      max-width: 343px;
      height: 58px;
      border-radius: 32px;
      background-color: #e7ecf3;
      color: #626e79;
      font-size: 14px;
      font-weight: 500;
      line-height: 1;
      letter-spacing: -0.04em;
      border: none;
    }
  }
}
