@import '../../../base.less';

.loginPageTab {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;

  &Item {
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid var(--gray-07, #d6dee6);
    background: #fff;
    color: var(--gray-03, #626e79);
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.8px;
    min-width: 164px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;

    &.active {
      background: var(--primary-06-main, #0f63aa);
      color: white;
    }
  }
}

.signUp {
  position: relative;
  height: fit-content;
  padding-bottom: 80px;

  .rightFormTitle {
    display: none;
  }

  .bodyContent {
    padding: 16px;

    p {
      font-size: 24px;
      text-indent: 37px;

      @media screen and (max-width: 767px) {
        text-indent: 0;
      }
    }

    .headTitle {
      display: flex;
      align-items: center;
      margin-bottom: 50px;

      @media screen and (max-width: 767px) {
        margin-bottom: 20px;
      }

      .bolderIcon {
        width: 12px;
        height: 52px;
        background-color: #33c3c7;
        margin-right: 8px;
        display: inline-block;
      }

      .titleIcon {
        width: 5px;
        height: 52px;
        background-color: #33c3c7;
        margin-right: 8px;
        display: inline-block;
      }

      span {
        color: #3c3c3c;
        font-size: 30px;

        @media screen and (max-width: 767px) {
          font-size: 35px;
        }
      }
    }

    .intruction {
      font-size: 18px;
    }

    .inputField {
      margin: 0 auto 20px auto;
      @media screen and (max-width: 767px) {
        margin-bottom: 16px;
        width: 100%;
        &:nth-child(2),
        &:nth-child(3) {
          width: calc(50% - 12px);
        }
      }
      .fieldFlex {
        display: flex;
        justify-content: space-between;
      }

      .fieldLabel {
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 8px;
        line-height: 1;
        display: flex;
        align-items: center;
        .inputRequired {
          color: #ff4d4f;
          font-size: 10px;
          display: inline-flex;
          font-weight: 500;
          line-height: 1;
          margin-left: 8px;
          padding: 4px 10px;
          border-radius: 13.5px;
          background: #f1c0c0;
        }
      }

      input {
        width: 100%;
        height: 44px;
        border-radius: 4px;
        padding: 0 16px;
        border-color: #d6dee6 !important;
        margin-bottom: 0;
      }

      .errorNotice {
        color: #ff4d4f;
        font-size: 10px;
      }
    }

    .errorNoticeTerm {
      color: #ff4d4f;
      font-size: 10px;
      text-align: center;
    }

    .btnZone {
      display: flex;
      justify-content: center;
      margin-inline: auto;
      margin-block: 16px 24px;

      .signUpBtn {
        width: max-content;
        height: 54px;
        min-width: 160px;
        border-radius: 32px;
        border: 1px solid var(--primary-06-main, #0f63aa);
        background: #fff;
        color: #0f63aa;
        transition: 0.4s ease all;
        margin-inline: auto;

        span {
          font-size: 14px;
          line-height: 1;
          font-weight: 500;
        }

        &:hover {
          color: white;
          background-color: #1f4f96;
        }
      }
    }

    .card {
      & > div {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
        @media screen and (max-width: 767px) {
          flex-direction: column;
        }
      }
      .loginButton {
        flex: 1;
        height: 40px;
        background-color: #ffffff;
        border-radius: 8px;
        border: 1px solid var(--gray-07, #d6dee6);
        background: #fff;
        font-size: 14px;
        font-weight: 500;
        cursor: pointer;
        margin-inline: auto;
        @media screen and (max-width: 767px) {
          width: 100%;
          flex: none;
        }
        img {
          width: 24px;
          margin-right: 16px;
          @media screen and(max-width:832px) {
            margin-right: 8px;
          }
        }
        span {
          font-size: 14px;
          font-weight: 500;
          line-height: 1;
          color: #2c3236;
        }
      }
    }
  }

  .checkTerm {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;

    span {
      color: var(--black, #333);
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 1;
    }

    a {
      color: #40a9ff;
      text-decoration: underline;
    }

    :global {
      .ant-checkbox input {
        width: 24px !important;
        display: flex;
      }
    }
  }

  :global {
    .ant-form-item {
      margin: 0;
    }

    .ant-form {
      max-width: 1080px;
      width: 100%;
      padding: 0 15px;
      margin: auto;

      .fieldFlex___3YE91 {
        .ant-row {
          .ant-col {
            > div:nth-child(2) {
              width: 150px;
            }
          }
        }
      }
    }
  }
}

.note {
  color: #eb3c03;
  font-weight: 600;
}

.termOfUser {
  height: 50vh;
  overflow-y: auto;
  overflow-x: hidden;

  .title {
    font-size: 1.2rem;
    letter-spacing: 0;
    color: #161615;
    margin-bottom: 10px;
    font-weight: bold;
  }

  p {
    font-size: 0.8rem;
    letter-spacing: 0;
    color: #161615;
    margin-bottom: 10px;
  }
}

.signUp {
  max-height: calc(100vh - 63px - 74px);
  overflow: auto;
  padding-bottom: 0 !important;
  max-width: 760px;
  padding-inline: 80px;
  margin-inline: auto;
  margin-top: 40px;

  &Wrap {
    height: calc(100dvh - 95px);
    overflow: auto;
    background-image: url('../../../assets/images/bg.png');
    background-size: 100%;
    background-position: bottom center;
    background-repeat: no-repeat;
  }
}

.bodyContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-height: calc(100dvh - 280px);
  overflow: auto;
  background-color: white;
  border: 1px solid var(--gray-07, #d6dee6);
}

.form {
  width: 100%;
  padding: 0 !important;
  @media screen and (max-width: 767px) {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
  }
}

.card {
  width: 100%;
}
.leftFormTitle,
.rightFormTitle {
  display: block !important;
  font-size: 18px;
  line-height: 1;
  font-weight: bold;
  margin-bottom: 16px;
  color: #333;
}

@media only screen and (max-width: 767px) {
  .signUpWrap {
    background-image: unset;
    .signUp {
      margin-top: 24px;
      padding-inline: 16px;
    }
    .container {
      padding-inline: 16px;
      margin-top: 16px;
      padding-bottom: 0;
    }
    .loginPageTabItem {
      min-width: 0;
      flex: 1;
    }
    .leftFormTitle {
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 16px;
    }
    .fieldName {
      font-size: 16px;
      line-height: 1;
      margin-bottom: 16px;
    }
    .forgotPassword {
      padding-top: 16px;
      margin-bottom: 24px;
      justify-content: end;
      color: #919aa5;
      font-size: 16px;
    }
    .signInBtn {
      font-size: 18px;
      width: 100%;
    }
    .divider {
      display: none;
    }
    .btnSocial {
      margin-top: 8px;
      height: 56px;
      &:first-child {
        margin-top: 16px;
      }
      img {
        display: none;
      }
    }
    .bodyContent {
      background-color: white;
      border: 1px solid #d6dee6;
      max-height: calc(100dvh - 285px);
    }
    .fieldLabel {
      font-size: 16px !important;
      .inputRequired {
        font-size: 12px !important;
      }
    }
    .checkTerm {
      :global {
        .ant-checkbox {
          margin-bottom: 8px !important;
          height: auto;
        }
        span {
          font-size: 16px !important;
        }
      }
    }
  }
}
