@import '../../../base.less';

.loginPageTab {
  display: flex;
  gap: 16px;
  margin-bottom: 30px;

  &Item {
    cursor: pointer;
    padding: 16px 32px;
    border-radius: 8px;
    border: 1px solid var(--gray-07, #d6dee6);
    background: #fff;
    color: var(--gray-03, #626e79);
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.8px;

    &.active {
      background: var(--primary-06-main, #0f63aa);
      color: white;
    }
  }
}

.signUp {
  position: relative;
  height: fit-content;
  padding-bottom: 80px;

  .rightFormTitle {
    display: none;
  }

  .bodyContent {
    padding: 30px 0 30px;

    p {
      font-size: 24px;
      text-indent: 37px;

      @media screen and (max-width: 767px) {
        text-indent: 0;
      }
    }

    .headTitle {
      display: flex;
      align-items: center;
      margin-bottom: 50px;

      @media screen and (max-width: 767px) {
        margin-bottom: 20px;
      }

      .bolderIcon {
        width: 12px;
        height: 52px;
        background-color: #33c3c7;
        margin-right: 8px;
        display: inline-block;
      }

      .titleIcon {
        width: 5px;
        height: 52px;
        background-color: #33c3c7;
        margin-right: 8px;
        display: inline-block;
      }

      span {
        color: #3c3c3c;
        font-size: 30px;

        @media screen and (max-width: 767px) {
          font-size: 35px;
        }
      }
    }

    .intruction {
      font-size: 18px;
    }

    .inputField {
      margin: 0 auto 20px auto;

      .fieldFlex {
        display: flex;
        justify-content: space-between;
      }

      .fieldLabel {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 16px;

        .inputRequired {
          color: #ff4d4f;
          font-size: 16px;
          font-weight: 500;
          line-height: 1;
          margin-left: 8px;
          padding: 4px 10px;
          border-radius: 13.5px;
          background: #f1c0c0;
        }
      }

      input {
        width: 100%;
        height: 44px;
        border-radius: 4px;
        padding: 0 16px;
        border-color: #d6dee6 !important;
        margin-bottom: 4px;
      }

      .errorNotice {
        color: #ff4d4f;
        font-size: 14px;
      }
    }

    .errorNoticeTerm {
      color: #ff4d4f;
      font-size: 14px;
      text-align: center;
    }

    .btnZone {
      display: flex;
      justify-content: center;
      margin-inline: auto;
      margin-block: 24px 16px;

      .signUpBtn {
        width: max-content;
        height: 60px;
        min-width: 200px;
        border-radius: 32px;
        border: 1px solid var(--primary-06-main, #0f63aa);
        background: #fff;
        color: #0f63aa;
        transition: 0.4s ease all;
        margin-inline: auto;

        span {
          font-size: 20px;
          line-height: 1;
          font-weight: 500;
        }

        &:hover {
          color: white;
          background-color: #1f4f96;
        }
      }
    }

    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .loginButton {
        width: 100%;
        height: 56px;
        background-color: #ffffff;
        border-radius: 8px;
        border: 1px solid var(--gray-07, #d6dee6);
        background: #fff;
        font-size: 1rem;
        font-weight: 500;
        cursor: pointer;
        margin-top: 24px;
        margin-inline: auto;

        img {
          width: 24px;
          margin-right: 16px;
          @media screen and(max-width:832px) {
            margin-right: 8px;
          }
        }
      }
    }
  }

  .checkTerm {
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 16px;

    span {
      color: var(--black, #333);
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 1;
    }

    a {
      color: #40a9ff;
      text-decoration: underline;
    }

    :global {
      .ant-checkbox {
        width: 24px;
        height: 24px;
        display: flex;
      }
    }
  }

  :global {
    .ant-form-item {
      margin: 0;
    }

    .ant-form {
      max-width: 1080px;
      width: 100%;
      padding: 0 15px;
      margin: auto;

      .fieldFlex___3YE91 {
        .ant-row {
          .ant-col {
            > div:nth-child(2) {
              width: 150px;
            }
          }
        }
      }
    }
  }
}

.note {
  color: #eb3c03;
  font-weight: 600;
}

.termOfUser {
  height: 50vh;
  overflow-y: auto;
  overflow-x: hidden;

  .title {
    font-size: 1.2rem;
    letter-spacing: 0;
    color: #161615;
    margin-bottom: 10px;
    font-weight: bold;
  }

  p {
    font-size: 0.8rem;
    letter-spacing: 0;
    color: #161615;
    margin-bottom: 10px;
  }
}
.signUp {
  padding-inline: 200px;
}
@media only screen and (max-width: 834px) {
  .signUp {
    padding-inline: 120px;
  }
}
@media only screen and (max-width: 767px) {
  .signUp {
    padding-inline: 20px;
  }
}
@media (min-width: 834px) {
  .signUp {
    padding-bottom: 0 !important;
    max-width: 1120px;

    margin-inline: auto;
    margin-top: 40px;

    &Wrap {
      height: calc(100svh - 120px);
      overflow: auto;
      background-image: url('../../../assets/images/bg.png');
      background-size: 100%;
      background-position: bottom center;
      background-repeat: no-repeat;
    }
  }

  .bodyContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px !important;
    max-height: calc(100dvh - 380px);
    overflow: auto;
    background-color: white;
    border: 1px solid var(--gray-07, #d6dee6);
    margin-bottom: 100px;
  }

  .form {
    width: 100%;
    padding: 0 !important;
  }

  .card {
    width: 100%;
  }

  .btnZone {
    // width: 403px;
  }

  .loginButton {
    width: 400px;
  }

  .leftFormTitle,
  .rightFormTitle {
    display: block !important;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
    color: #333;
  }
}

@media (min-width: 1080px) and (max-height: 780px) {
  .signUp {
    height: calc(100vh - 63px - 74px);
    overflow: auto;
  }
}
@media only screen and (max-width: 767px) {
  .signUpWrap {
    background-image: unset;
    .loginPageTab {
      margin-top: 16px;
    }
    .signUp {
      padding-bottom: 12px !important;
    }
    .container {
      padding-inline: 16px;
      margin-top: 16px;
      padding-bottom: 0;
    }
    .loginPageTabItem {
      font-size: 16px;
      &:nth-child(2) {
        flex: 1;
        text-align: center;
      }
    }
    .leftFormTitle {
      font-size: 24px;
      padding-inline: 16px;
      font-weight: 700;
      margin-bottom: 16px;
    }
    .fieldName {
      font-size: 16px;
      margin-bottom: 16px;
    }
    .forgotPassword {
      padding-top: 16px;
      margin-bottom: 24px;
      justify-content: end;
      color: #919aa5;
      font-size: 16px;
    }
    .signInBtn {
      font-size: 18px;
      width: 100%;
    }
    .divider {
      display: none;
    }
    .btnSocial {
      margin-top: 8px;
      height: 56px;
      &:first-child {
        margin-top: 16px;
      }
      img {
        display: none;
      }
    }
    .bodyContent {
      background-color: white;
      border: 1px solid #d6dee6;
      padding-block: 38px 16px;
      margin-bottom: 100px;
    }
    .fieldLabel {
      font-size: 16px !important;
      .inputRequired {
        font-size: 12px !important;
      }
    }
    .inputField {
      margin-bottom: 24px;
    }
    .checkTerm {
      :global {
        .ant-checkbox {
          margin-bottom: 8px !important;
          height: auto;
        }
        span {
          font-size: 16px !important;
        }
      }
    }
    .signUpBtn {
      width: 100% !important;
      height: 44px !important;
      font-size: 18px !important;
    }
    .card {
      padding-inline: 16px !important;
      img {
        display: none;
      }
    }
    .loginButton:nth-child(2) {
      margin-top: 8px !important;
    }
  }
}
