.mainContainer {
  display: flex;
  align-items: flex-start;
  // padding-top: 10px;
  height: calc(100vh - 75px - 74px);
  :global {
    .calendar-pc .fc-media-screen {
      height: calc(100svh - 275px) !important;
    }
  }
}

.rightPanel {
  flex: 1;
}
