.mainContainer {
  display: flex;
  align-items: flex-start;
  // padding-top: 10px;
  height: calc(100vh - 220px);
  max-width: 1600px;
  padding-inline: 80px;
  margin-inline: auto;
  margin-top: 40px;
  gap: 16px;
  @media screen and (max-width: 767px) {
    padding-inline: 16px;
    flex-direction: column;
    height: auto;
  }
}

.rightPanel {
  flex: 1;
}
