.event-detail-modal {
  .ant-modal {
    width: 850px !important;

    .ant-modal-body {
      padding: 16px !important;
    }

    .header {
      padding: 0 !important;
    }

    .appointment-detail .content {
      height: 57vh !important;

      .ant-table-wrapper {
        height: 85%;
      }

      .flexSpaceBetween {
        align-items: flex-start !important;
      }
    }

    .appointment-detail .buttons {
      flex-direction: row !important;
      padding-bottom: 16px !important;
    }

    .ant-modal-footer {
      display: none !important;
    }

    .header-close {
      cursor: pointer;
    }
  }
}

.past-event-detail-modal {
  .content {
    .flexSpaceBetween {
      align-items: flex-start !important;
    }
  }
  @media screen and (max-width: 767px) {
    .ant-modal {
      width: 100% !important;
      padding: 0 !important;
      margin: 0 !important;
      top: 56px !important;
      .ant-modal-content {
        border: none;
        box-shadow: none;
      }
      .ant-modal-body {
        padding: 0 !important;
      }
    }
  }
}
