.swipeable-list-item {
  overflow: unset;
}
.swipeable-item {
  margin-bottom: 10px;
  @media screen and (max-width: 767px) {
    margin-bottom: 0;
  }
}
.swipeableList {
  color: #333333;
}

.swipableItem {
  display: flex;
  flex-direction: column;
  user-select: none;
  cursor: grab;
  width: 100%;
  border-bottom: .5px solid #D6DEE6;
  font-size: 20px;
  font-weight: 500;
  color:#2C3236;
  letter-spacing: -.8px;
  text-align: center;
  @media screen and (max-width: 767px) {
    margin-bottom: 0;
    font-size: 16px;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #D6DEE6;
    div {
      flex: none;
    }
    div:nth-child(2) {
      padding-inline: 8px;
      margin-block: 8px;
      flex: 1;
    }
    .event-name {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
    }
  }
  &.upcomming_grid {
  }
  .viewmore {
    color: #0F63AA;
    font-weight: 700;
  }
}
.upcomming_head  {
  @media screen and (max-width: 767px) {
    padding-block: 8px;
    flex-direction: row;
    display: flex;
    border-bottom: 1px solid #D6DEE6;
    font-size: 14px;
    font-weight: 500;
    color: #626E79;
    position: sticky;
    top: -0;
    z-index: 100;
    background-color: white;
    div {
      flex: none;
      min-width: 80px;
    }
    div:nth-child(2) {
      text-align: center;
      flex: 1;
    }
  }
}
.swipableItemInner {
  margin-top: 2px;
  margin-bottom: 2px;
  display: flex;
  align-items: center;
}

.swipableItemInnerDiv {
  width: 4px;
  background: #3368c7;
  height: 20px;
  margin-right: 5px;
}

.flexSpaceBetween {
  margin-top: 2px;
  margin-bottom: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexRight {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flex2 {
  flex: 2;
}

.flex1 {
  flex: 1;
  padding-left: 5px;
}
.flex-0-5 {
  flex-grow: 0.5;
  flex-shrink: 1;
  flex-basis: 0;
}

.swipeable-list-item__content--remove {
  transform: translateX(-600px) !important;
}
.empty-state-text {
  font-size: 20px;
  margin-bottom: 0;
   @media screen and (max-width: 767px) {
    font-size: 16px;
    background: #ffffff;
    box-shadow: 0 4px 4px 0 rgba(55, 77, 117, 0.16);
    padding: 10px;
    br {
      display: none;
    }
   }
}