@media (min-width: 834px) {
  .top-pc {
    .flexSpaceBetween button {
      cursor: pointer;
    }
    .upcomming_wrap {
      align-items: stretch;
      background: #ffffff;
      box-shadow: 0 4px 4px 0 rgba(55, 77, 117, 0.16);
    }
    .upcomming_grid {
      display: grid;
      grid-template-columns: 100px 200px 1fr 200px 200px 140px;
      align-items: center;
      text-align: center;
      padding-block: 18px;
      &.upcomming_head {
        position: sticky;
        top: -0;
        z-index: 100;
        background-color: white;
        border-bottom: 0.5px solid #e1e8f0;
        border-top: 0.5px solid #e1e8f0;
      }
      .upcomming_head_item {
        padding: 8px;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: -0.8px;
        color: #626e79;
        line-height: 1em;
      }
    }
    .swipeable-list {
      display: flex;
      grid-template-columns: repeat(2, 1fr);
      flex-direction: column;
      height: auto !important;
      &-item {
        margin-bottom: 0;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        height: 100%;
        min-height: 100%;
        button {
          font-size: 12px;
        }

        &:hover {
          .ic-trash {
            display: block;
          }
        }

        .swipableItem {
          min-height: 100%;
          justify-content: space-between;

          .flexSpaceBetween {
            align-items: flex-start;
          }
        }
      }
    }
    .swipeable-item {
      margin-bottom: 0;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      height: 100%;
      min-height: 100%;
    }
    .flexSpaceBetween {
      align-items: unset;
    }

    .past-event-time {
      font-size: 16px;
      font-weight: bold;
    }

    .ic-trash {
      cursor: pointer;
      margin-left: 5px;
      position: absolute;
      right: 6px;
      top: 10px;
      z-index: 10;
      display: none;
    }

    .event-name {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      font-family: 'Noto Sans';
    }
  }
}

@media (min-width: 1230px) {
  .top-pc {
    .swipeable-list {
      grid-template-columns: repeat(3, 1fr);

      &-item {
        button {
          font-size: 13px;
        }
      }
    }
  }
}

@media (min-width: 1580px) {
  .top-pc {
    .swipeable-list {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

.ant-message {
  z-index: 2000000000000001;
}

.content-gap {
  display: none;
}

@media (min-width: 1080px) and (max-height: 780px) {
  .swipableItem {
    padding: 10px !important;
  }
}
.empty-state-text {
  font-size: 20px;
  margin-bottom: 0;
  @media screen and (max-width: 767px) {
    font-size: 16px;
    background: #ffffff;
    box-shadow: 0 4px 4px 0 rgba(55, 77, 117, 0.16);
    padding: 10px;
    br {
      display: none;
    }
  }
}
