@import '../../../base.less';
.footer {
  .footerContent {
    display: flex;
    color: @grey-8;
    font-size: 20px;
    justify-content: center;
    letter-spacing: 2px;
    @media screen and (max-width: 767px) {
      flex-wrap: wrap;
      width: 100%;
      font-size: 15px;
    }
    a {
      color: #1f4f96;
      text-decoration: underline;
    }
    li {
      margin-right: 55px;
      @media screen and (max-width: 767px) {
        margin-right: 20px;
        margin-bottom: 15px;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }

  .footerCopyright {
    display: none;
  }
}

@media (min-width: 834px) {
  .footerCopyright {
    display: block !important;
    text-align: center;
    margin-top: 4px;
    font-size: 12px;
    color: #333333;
  }

  .wrapperFooter {
    position: fixed;
    z-index: 100;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 8px;
    background-color: #fdfcf9;
  }

  .link {
    font-size: 14px;
    font-weight: 500;
    color: #333333 !important;
  }

  .footerContent li {
    margin-right: 24px !important;

    &:last-child {
      margin-right: 0 !important;
    }
  }
}
