@import '../../base.less';
.pageSentEmail {
  background-image: url('../../assets/images/bg.png');
  background-size: 68%;
  background-position: bottom center;
  background-repeat: no-repeat;
  height: 100dvh;
  @media only screen and (max-width: 767px) {
    background-image: none;
  }
}

.container {
  padding-block: 24px;
  max-width: 600px;
  margin: auto;
  height: calc(100vh - 160px);
  overflow: auto;
  display: flex;
  flex-direction: column;
  @media only screen and (max-width: 767px) {
    padding-block: 24px;
    height: calc(100dvh - 155px);
    background-color: #fdfcf9;
  }
  .formTab {
    display: flex;
    gap: 16px;
    margin-bottom: 24px;
    @media only screen and (max-width: 767px) {
      gap: 8px;
      margin-bottom: 0;
      margin-top: 8px;
    }
    &Button {
      cursor: pointer;
      height: 44px;
      width: 163px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
      font-size: 14px;
      font-weight: 500;
      line-height: 1;
      letter-spacing: -0.8px;
      color: #626e79;
      border: 1px solid #d6dee6;
      transition: color 0.3s, background-color 0.3s, border 0.3s;
      background-color: white;
      @media only screen and (max-width: 767px) {
        height: 44px;
        padding-inline: 16px;
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;
        flex: 1;
        border-radius: 30px;
      }
      &.active,
      &:hover {
        color: white;
        background-color: #0f63aa;
        border: 1px solid #0f63aa;
      }
    }
  }

  .titlePage {
    color: var(--black, #2c3236);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -1.28px;
    line-height: 1;
    margin-bottom: 24px;
    @media only screen and (max-width: 767px) {
      font-size: 16px;
    }
  }
  .formSentEmail {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
    position: relative;
  }
  .inputField {
    width: 100%;
    height: 44px;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 12px;
    text-align: center;
    color: #2c3236;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    border: 1px solid #e7ecf3;
    border-radius: 4px;
    &:nth-child(1) {
      flex: 1;
    }
    &:nth-child(2) {
      width: 35%;
    }
    @media only screen and (max-width: 767px) {
      &:nth-child(1) {
        flex: unset;
      }
      width: 100% !important;
      background-color: #f5f5f5;
      border-color: #d6dee6;
      font-size: 16px;
    }
  }
  .addPartner {
    display: flex;
    justify-content: right;
    .addPartnerBtn {
      border: none;
      height: 44px;
      border-radius: 10px;
      background-color: #3368c7;
      color: #ffffff;
      font-weight: 600;
      letter-spacing: 1px;
      box-shadow: 0 2px 3px rgba(50, 100, 200, 0.3);
    }
  }
  .FormFooterPartner {
    position: sticky;
    bottom: 0;
    margin-top: 24px;
  }
  .FormFooterPartnerBtn {
    border-radius: 30px;
    border: 1px solid var(--primary-06-main, #0f63aa);
    background: #fff;
    color: var(--primary-06-main, #0f63aa);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -0.8px;
    height: 54px;
    width: 160px;
  }
  .itemBtnDelete {
    background-color: #cf2d2d;
    @media only screen and (max-width: 767px) {
      position: absolute;
      height: 100% !important;
      top: 0;
      right: 0;
    }
  }
  .FormBodyPartner {
    width: 100%;
    margin: auto;
    border: 1px solid var(--gray-07, #d6dee6);
    background: #fff;
    padding: 0 16px 16px 16px;
    overflow: scroll;
    flex: 1;
    @media only screen and (max-width: 767px) {
      padding: 16px;
      border: none;
      background-color: white;
    }
    &Title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: sticky;
      gap: 8px;
      padding-block: 16px;
      top: 0;
      z-index: 100;
      background: white;
      .requier {
        padding: 5px 10px;
        background-color: #f1c0c0;
        border-radius: 14px;
        color: #cf2d2d;
        font-size: 10px;
        font-weight: 500;
        line-height: 1;
        margin-left: 8px;
      }
      p {
        font-weight: 500;
        line-height: 100%;
        margin-bottom: 0px;
        text-align: left;
        font-size: 14px;
        line-height: 1;
        display: flex;
        align-items: center;
      }
      p:nth-child(1) {
        flex: 1;
      }
      p:nth-child(2) {
        width: calc(35% + 44px + 8px);
      }
    }
    .FormItemPartner {
      margin: auto;
      width: 100%;
      @media screen and (max-width: 767px) {
        width: unset;
        margin: unset;
      }

      &Inner {
        display: flex;
        gap: 8px;
        width: 100%;
        @media only screen and (max-width: 767px) {
          gap: 4px;
          padding-right: 48px;
          flex-direction: column;
        }
      }
    }

    @media screen and (max-width: 767px) {
      width: unset;
      margin: unset;
    }
  }
  .savePartnerBtn {
    margin-top: 10px;
    width: 100%;
    height: 44px;
    border: none;
    border-radius: 10px;
    background-color: #3368c7;
    color: #ffffff;
    font-weight: 600;
    letter-spacing: 1px;
    box-shadow: 0 2px 3px rgba(50, 100, 200, 0.3);
  }
  .selectField {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .formField {
      width: 100%;
      margin-top: 10px;
    }
    .removeSelectBtn {
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px 0 0 10px;
      height: auto;
    }
  }
}

body .customModal {
  max-width: 503px !important;
  @media only screen and (max-width: 767px) {
    padding: 0 !important;
    margin-block: 0 !important;
  }
  .customModalImg {
    width: 40px;
    height: 40px;
    padding: 8px;
    border-radius: 50%;
    margin-top: -10px;
    background-color: #fde9e7;
    margin-right: 16px;
  }

  :global {
    .ant-modal-body {
      padding: 24px !important;
      @media only screen and (max-width: 767px) {
        padding: 16px !important;
      }
    }
    .ant-modal-content {
      border-radius: 8px;
      @media only screen and (max-width: 767px) {
        box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.16);
        border-radius: 16px;
      }
    }
    .ant-modal-confirm-title {
      font-size: 24px;
      font-weight: 400;
      color: #2c3236;
      line-height: 1;
      display: inline;
      @media only screen and (max-width: 767px) {
        font-size: 18px;
      }
    }
    .ant-modal-close-x {
      width: 44px;
      height: 44px;
      line-height: 1;
      display: flex;
      @media only screen and (max-width: 767px) {
        width: 36px;
        height: 36px;
      }
      img {
        width: 100%;
      }
    }
    .ant-modal-close {
      top: 14px;
      right: 14px;
      @media only screen and (max-width: 767px) {
        top: 6px;
        right: 6px;
      }
    }
    .ant-modal-confirm-content {
      font-size: 20px;
      color: #626e79;
      margin-top: 8px;
      margin-left: 0 !important;
      @media only screen and (max-width: 767px) {
        font-size: 14px;
      }
    }
    .ant-modal-confirm .ant-modal-body {
      padding: 24px !important;
    }
    .ant-modal-confirm-btns {
      display: flex;
      justify-content: center !important;
      text-align: center !important;
      margin-top: 32px;
      .ant-btn {
        font-weight: 500;
        background-color: #cf2d2d;
        border-color: #e74c3c;
        border-radius: 32px;
        width: 200px;
        height: 60px;
        font-size: 20px;
        line-height: 1;
        @media only screen and (max-width: 767px) {
          font-size: 18px;
          height: 45px;
        }
        &:hover {
          background-color: #d63d2f !important;
          border-color: #d63d2f !important;
        }
      }
    }
  }
}
